/* Add your custom styles to MMM-PID module */
.MMM-PID {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  color: white; /* Set the font color to white */
}

.MMM-PID ul {
  list-style: none;
  padding: 0;
}

.MMM-PID li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.MMM-PID li:last-child {
  border-bottom: none;
}
