.MMM-PublicTransportDepartures .departure-table {
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.MMM-PublicTransportDepartures .departure-row {
  border-bottom: 1px solid #666;
}

.MMM-PublicTransportDepartures .departure-data {
  padding: 5px 10px;
}

.MMM-PublicTransportDepartures .departure-data.time-remaining {
  text-align: right;
}
